body{
    background: url(../images/download.jpg);

    background-repeat: no-repeat; 
    /* repeat-x for  repeating horizontally*/
    /* repeat-y for  repeating vertically*/

    background-position: center;
    background-attachment: fixed; /* background-image remains fixed */
    background-size: cover; /* It basically fills the background-image to the whole screen */
}