body{
    text-align: center;
}

h1:hover {
    color: red;
}

h2:hover {
    color: aquamarine;
}

h2:first-child:hover {
    color: darkgreen;
}

h3:hover {
    color: blueviolet;
}

a:visited {
    color: red;
}

a:active {
    color: yellow;
}

a:link {
    color: green;
}